In [3]:
a=[1,3,-1]

In [4]:
a.append(1)

In [5]:
print(a)
print(type(a))

[1, 3, -1, 1]
<class 'list'>

In [4]:
a.append("hi")
print(a)

[1, 3, -1, 1, 'hi']

In [5]:
a.append('hello')
print(a)

[1, 3, -1, 1, 'hi', 'hello']

In [6]:
a.append([1,2])
print(a)

[1, 3, -1, 1, 'hi', 'hello', [1, 2]]

In [7]:
#delete last item
a.pop()
print(a)

[1, 3, -1, 1, 'hi', 'hello']

In [8]:
a.pop(2)
print(a)

[1, 3, 1, 'hi', 'hello']

In [9]:
print(a[0])

1

In [10]:
print(a[2])

1

In [11]:
a[0]=250
print(a)

[250, 3, 1, 'hi', 'hello']

In [44]:
b=["apple","banana","computer"]

In [45]:
temp=b[0]
b[0]=b[2]
b[2]=temp

In [46]:
print(b)

['computer', 'banana', 'apple']

In [47]:
b[0],b[2]=b[2],b[0]
print(b)

['apple', 'banana', 'computer']

In [15]:
james=[23,19,22,31,18]
game1,game2,game3,game4,game5=james
print("各場得分:",game1,  game2,  game3,  game4,  game5)

各場得分: 23 19 22 31 18

In [19]:
print(james[0:7])

[23, 19, 22, 31, 18]

In [20]:
print(james[1:3])

[19, 22]

In [21]:
print(james[:2])

[23, 19]

In [22]:
print(james[2:])

[22, 31, 18]

In [23]:
print(james[-2:])

[31, 18]

In [24]:
print(james[:])

[23, 19, 22, 31, 18]

In [25]:
print(james[0:5:2])

[23, 22, 18]

In [27]:
print(james[-1])

18

In [28]:
print(james[-2])

31

In [29]:
print(max(james))

31

In [30]:
print(min(james))

18

In [31]:
print(sum(james))

113

In [32]:
james=['james',23,19,22,31,18]

In [33]:
print(max(james))

TypeError: '>' not supported between instances of 'int' and 'str'

In [34]:
print(max(james[1:6]))

31

In [35]:
print(min(james[1:]))

18

In [36]:
print(sum(james[-5:]))

113

In [37]:
print(len(james))

6

In [38]:
james=[23,19,22,31,18]

In [39]:
james[2]=28

In [40]:
print(james)

[23, 19, 28, 31, 18]

In [41]:
cars1=['Toyota','Nissan','Honda']
cars2=['Audi',"BMW"]
cars1+=cars2
print(cars1)

['Toyota', 'Nissan', 'Honda', 'Audi', 'BMW']

In [43]:
num1=[1,2,3]
num2=[4,5,6]
num3=num1+num2
print(num3)

[1, 2, 3, 4, 5, 6]

In [44]:
num3=num1*3
print(num3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [45]:
cars1=cars1*3
print(cars1)

['Toyota', 'Nissan', 'Honda', 'Audi', 'BMW', 'Toyota', 'Nissan', 'Honda', 'Audi', 'BMW', 'Toyota', 'Nissan', 'Honda', 'Audi', 'BMW']

In [48]:
warriors=['Curry','Durant','Iquodala','Bell','Thompson']
print(warriors)
del warriors[2]
print(warriors)

['Curry', 'Durant', 'Iquodala', 'Bell', 'Thompson']
['Curry', 'Durant', 'Bell', 'Thompson']

In [51]:
james=[23,19,22,31,18]
print(james)
del james[0:5:2]
print(james)

[23, 19, 22, 31, 18]
[19, 31]

In [52]:
x=[1,2,3]
print(x)
del x
print(x)

[1, 2, 3]

NameError: name 'x' is not defined