In [1]:
#can't add list, set, and dictionary
set1={'apple','banana',123}
print(type(set1))
print(set1)

<class 'set'>
{123, 'banana', 'apple'}

In [1]:
set1={'Java','Python','C','Python','Java'}
print(set1)

{'Python', 'C', 'Java'}

In [2]:
set1={1,2,5}
print(set1)
set1={1,'Python',(2,5,6)}
print(set1)

{1, 2, 5}
{1, 'Python', (2, 5, 6)}

In [3]:
set1={1,'Python',[2,5,6]}

TypeError: unhashable type: 'list'

In [5]:
x={}
print(x)
print(type(x)) # not set

{}
<class 'dict'>

In [7]:
empty_dict={}
empty_set=set()
print(type(empty_dict))
print(type(empty_set))

<class 'dict'>
<class 'set'>

In [9]:
string='Hello World'
set1=set(string)
print(set1)

{' ', 'd', 'H', 'l', 'o', 'r', 'W', 'e'}

In [10]:
fruits=['apple','banana','orange','watermelon']
set1=set(fruits)
print(set1)

{'orange', 'banana', 'watermelon', 'apple'}

In [11]:
fruits=('apple','banana','orange','watermelon')
set2=set(fruits)
print(set2)

{'orange', 'banana', 'watermelon', 'apple'}

In [12]:
fruits=['apple','banana','orange','watermelon','apple','banana']
x=set(fruits)
fruits2=list(x)
print(fruits)
print(fruits2)

['apple', 'banana', 'orange', 'watermelon', 'apple', 'banana']
['orange', 'banana', 'watermelon', 'apple']

In [13]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
same=math&physics
print(same)

{'Peter'}

In [15]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
same=math.intersection(physics)
print(same)
same1=physics.intersection(math)
print(same1)

{'Peter'}
{'Peter'}

In [16]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
allp=math|physics
print(allp)

{'Jimmy', 'Kevin', 'Eric', 'Tom', 'Peter'}

In [17]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
allp=math.union(physics)
print(allp)
allp1=physics.union(math)
print(allp1)

{'Jimmy', 'Kevin', 'Eric', 'Tom', 'Peter'}
{'Jimmy', 'Kevin', 'Eric', 'Tom', 'Peter'}

In [18]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
diff=math-physics
print(diff)

{'Eric', 'Kevin'}

In [20]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
diff=math.difference(physics)
print(diff)
diff1=physics.difference(math)
print(diff1)

{'Eric', 'Kevin'}
{'Jimmy', 'Tom'}

In [21]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
only=math^physics
print(only)

{'Jimmy', 'Kevin', 'Tom', 'Eric'}

In [22]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
only=math.symmetric_difference(physics)
print(only)
only1=physics.symmetric_difference(math)
print(only1)

{'Jimmy', 'Kevin', 'Tom', 'Eric'}
{'Jimmy', 'Kevin', 'Tom', 'Eric'}

In [23]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
English={'Kevin','Peter','Eric'}
print(math==English)
print(math==physics)

True
False

In [24]:
math={'Kevin','Peter','Eric'}
physics={'Peter','Jimmy','Tom'}
English={'Kevin','Peter','Eric'}
print(math!=English)
print(math!=physics)

False
True

In [25]:
fruit=set('orange')
print('o'in fruit)
print('q'in fruit)
cars={'Nissan','Ford','Toyota'}
print('Audi'in cars)
print('Ford'in cars)

True
False
False
True

In [26]:
fruit=set('orange')
print('o'not in fruit)
print('q'not in fruit)
cars={'Nissan','Ford','Toyota'}
print('Audi'not in cars)
print('Ford'not in cars)

False
True
True
False

In [27]:
cities={'Taipei','Beijing','Tokyo'}
print(cities)
cities.add('Chicago')
print(cities)
cities.add('Taipei')
print(cities)
cities.add((1,2,3))
print(cities)

{'Taipei', 'Beijing', 'Tokyo'}
{'Chicago', 'Taipei', 'Beijing', 'Tokyo'}
{'Chicago', 'Taipei', 'Beijing', 'Tokyo'}
{'Tokyo', 'Taipei', (1, 2, 3), 'Chicago', 'Beijing'}

In [32]:
x={1,2,3}
y=x
y.add(5)
print(x)
print(y)
z=x.copy()
z.add(100)
print(x)
print(z)

{1, 2, 3, 5}
{1, 2, 3, 5}
{1, 2, 3, 5}
{1, 2, 3, 100, 5}

In [33]:
cities={'Taipei','Beijing','Tokyo'}
print(cities)
cities.remove('Beijing')
print(cities)

{'Taipei', 'Beijing', 'Tokyo'}
{'Taipei', 'Tokyo'}

In [34]:
cities={'Taipei','Beijing','Tokyo'}
print(cities)
cities.remove('Tainan')
print(cities)

{'Taipei', 'Beijing', 'Tokyo'}

KeyError: 'Tainan'

In [35]:
cities={'Taipei','Beijing','Tokyo'}
print(cities)
cities.discard('Beijing')
print(cities)
cities.discard('Tainan')
print(cities)

{'Taipei', 'Beijing', 'Tokyo'}
{'Taipei', 'Tokyo'}
{'Taipei', 'Tokyo'}

In [36]:
cities={'Taipei','Beijing','Tokyo'}
print(cities.discard('Beijing'))
print(cities.discard('Tainan'))

None
None

In [37]:
cities={'Taipei','Beijing','Tokyo'}
x=cities.pop()
print(cities)
print(x)

{'Beijing', 'Tokyo'}
Taipei

In [39]:
cities={'Taipei','Beijing','Tokyo'}
print(cities)
cities.clear()
print(cities)
cities=set()
print(cities)
cities.clear()
print(cities)

{'Taipei', 'Beijing', 'Tokyo'}
set()
set()
set()

In [41]:
A={'a','b','c'}
B={'q','w','e'}
C={'a','i','o'}
x=A.isdisjoint(B)
print(x)
y=A.isdisjoint(C)
print(y)

True
False